<br>
<a href="/" style="color:#4dd0e1; font-size:25px; margin-left:15px;"><b>codeCollab<span style="color:black;">.</span></b></a>

<button style="margin-left: 10px; margin-bottom: 10px;" class="topbuttons cyan lighten-2 btn" id="runcode">RUN</button>

<% if current_user %>
  <button style="margin-bottom: 10px;" class="topbuttons1 waves-effect waves-default cyan lighten-2 btn" id="saveFile">SAVE</button>
<%end%>

<button style="margin-bottom: 10px;" class="topbuttons2 waves-effect waves-default cyan lighten-2 btn" id="dashboard"><%= link_to 'DOCS', root_path, id: "dash" %></button>
<button id="modalbutton" data-target="modal1" style="margin-bottom: 10px; text-align:center; color:white;" class="topbuttons3 green btn modal-trigger">nav</button>



<div class="language">
  <%= select :languages, nil, ['nodejs', 'ruby', 'python', 'java']%>
</div>

<div class="status">Connecting...</div>

<br>
<div style="width: 100%; overflow: hidden;">
<div class="console" id="firepad-container" style="float: left;"></div>
<div class="console2 pad" style="float:right; width: 60%; overflow: hidden;"><pre class="out"></pre>
  <div id="firechat-wrapper" style="float:right;"></div>
</div>
</div>

<!-- <ul id="slide-out" class="side-nav">
   <a class="cross" href="#" style="font-size: 40px; margin-top: 10px;">x</a>
 </ul>
 <a href="#" data-activates="slide-out" class="button-collapse" style="float:right; margin-right: 18px; margin-top: -600px"><i class="fa fa-comments-o fa-2x" style="color:#4dd0e1;"></i></a> -->



  <div id="modal1" class="modal bottom-sheet" style="height:800px; background-color:white;">

      <div style="text-align:center"><a href="#!" id="modalbutton" class="modal-action modal-close waves-effect waves-green green btn" style="margin-top: 15px; color:white;">DONE</a></div>

    <div class="modal-content" style="width: 100%; overflow: hidden;">

      <div class="modal-left" style="text-align:center; float:left; width:50%; height:200px">
        <p id="black" style="font-size:18px;">COLLABORATORS</p>
        <% @users_friends.each do |uo| %>
          <div class="user-online">
              <b style="font-size:13px;"><%= link_to uo.full_name, "#", data: { url: notify_create_path(user_id: uo.id, cu_id: current_user.id) }, id: "usersonline" %></b>
              <% end %>
          </div>

        <%= hidden_field_tag :id, current_user.id, id: 'currID' %>
        <%= hidden_field_tag :id, current_user.username, id: 'currName' %>
      </div>

      <div class="modal-right" style="text-align:center; width:50%; height:200px; float:right;">
        <p id="black" style="font-size:18px;">RESOURCES</p>
        <a href="http://guides.rubyonrails.org/" target="_blank" style="color:white; margin-bottom: 10px;" class="waves-effect waves-amber amber btn" id="saveFile">RUBY ON RAILS</a>
        <a href="http://ruby-doc.org/" target="_blank" style="color:white; margin-bottom: 10px;" class="waves-effect waves-amber amber btn" id="saveFile">RUBY</a>
        <a href="http://www.pragtob.info/rails-beginner-cheatsheet/" target="_blank" style="color:white; margin-bottom: 10px;" class="waves-effect waves-amber amber btn" id="saveFile">RAILS CHEATSHEET</a><br>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference" target="_blank" style="color:white; margin-bottom: 10px;" class="waves-effect waves-amber amber btn" id="saveFile">JAVASCRIPT</a>
        <a href="https://docs.oracle.com/javase/tutorial/java/nutsandbolts/" target="_blank" style="color:white; margin-bottom: 10px;" class="waves-effect waves-amber amber btn" id="saveFile">JAVA</a>
        <a href="https://api.jquery.com/" target="_blank" style="color:white; margin-bottom: 10px;" class="waves-effect waves-amber amber btn" id="saveFile">JQUERY</a>
        <a href="https://docs.python.org/3/" target="_blank" style="color:white; margin-bottom: 10px;" class="waves-effect waves-amber amber btn" id="saveFile">PYTHON</a>
        <!-- <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference" style="color:white; margin-bottom: 10px;" class="waves-effect waves-amber amber btn" id="saveFile">JAVASCRIPT</a> -->
      </div>

    </div>
  </div>






<!--
<script type="text/javascript">
  var chatRef = new Firebase("https://firechat-demo.firebaseio.com");
  var chat = new FirechatUI(chatRef, document.getElementById("firechat-wrapper"));
  chatRef.onAuth(function(authData) {
    if (authData) {
      chat.setUser(authData.uid, '<%=current_user.username %>');
    } else {
      chatRef.authAnonymously(function(error, authData) {
        if (error) {
          console.log(error);
        }
      });
    }
  });
</script> -->
