<br>
<a href="#" style="color:#4dd0e1; font-size:25px; margin-left:15px;">codeCollab<span style="color:black;">.</span></a>

<button style="margin-left: 10px; margin-bottom: 10px;" class="waves-effect waves-teal cyan lighten-2 btn" id="runcode">RUN</button>

<% if current_user %>
  <button style="margin-bottom: 10px;" class="waves-effect waves-teal cyan lighten-2 btn" id="saveFile">Save File</button>
<%end%>

<button style="margin-bottom: 10px;" class="waves-effect waves-teal cyan lighten-2 btn" id="dashboard"><%= link_to 'Back to Dashboard', root_path, id: "dash" %></button>


<div class="language">
  <%= select :languages, nil, ['nodejs', 'ruby', 'python', 'java']%>
  </div>

<div class="status">Connecting...</div>


<br>
<div style="width: 100%; overflow: hidden;">
<div id="firepad-container" style="float: left;"></div>
<pre class="out"></pre>
</div>


<% @users_friends.each do |uo| %>
  <div class="user-online">
      <strong>Full-name: </strong>
      <%= link_to uo.full_name, "#", data: { url: notify_create_path(user_id: uo.id, cu_id: current_user.id) }, id: "usersonline" %>
      <% end %>
  </div>



<div id="firechat-wrapper"></div>



<%= hidden_field_tag :id, current_user.id, id: 'currID' %>
<%= hidden_field_tag :id, current_user.username, id: 'currName' %>



<!--
<script type="text/javascript">
  var chatRef = new Firebase("https://firechat-demo.firebaseio.com");
  var chat = new FirechatUI(chatRef, document.getElementById("firechat-wrapper"));
  chatRef.onAuth(function(authData) {
    if (authData) {
      chat.setUser(authData.uid, '<%=current_user.username %>');
    } else {
      chatRef.authAnonymously(function(error, authData) {
        if (error) {
          console.log(error);
        }
      });
    }
  });
</script> -->
