<h2>Users Online</h2>
<%#= button_tag "Create Workspace", :'data-url' => workspaces_path, id: "workspace" %>
<!-- The create workspace link does not create a brand new editor -->

<% @documents.each do |files| %>
  <div class="available-files">
    <strong> File Number: </strong>
    <% file = files.id %>
    <%= link_to workspace_path(f_id: file), id: "workspace" do %>
      File Open <%= file %>
  <%end%>

  <%= link_to 'Destroy', users_document_path(file), class: "delete-document", data:  { url: users_document_path(file) }%>
</div>


<%end%>


<% @users_sign_in.each do |uo| %>
  <div class="user-online">
      <strong>Full-name: </strong>
      <span><%= uo.full_name %></span>
  </div>
<%end%>

<%= link_to 'WORKSPACE', workspace_path, id: "workspace" %>
