<!-- <h2>Users Online</h2> -->
<%#= button_tag "Create Workspace", :'data-url' => workspaces_path, id: "workspace" %>
<!-- The create workspace link does not create a brand new editor -->

<div class="create">
<br><br><br><%= link_to 'CREATE NEW WORKSPACE', workspace_path, id: "workspace", class: "waves-effect waves-yellow yellow lighten-1 btn" %>
</div>


<div class="documentslist">
<% @documents.each do |files| %>
  <div class="available-files">
    <strong> File No.: </strong>
    <% file = files.id %>
    <%= link_to workspace_path(f_id: file), id: "workspace" do %>
     <%= file %> Open
  <%end%>

  <%= link_to 'Destroy', users_document_path(file), class: "delete-document", data:  { url: users_document_path(file) }%>
</div>

<%end%>
</div>


<% @users_sign_in.each do |uo| %>
  <div class="user-online">
      <strong>Full-name: </strong>
      <span><%= uo.full_name %></span>
  </div>
<%end%>

<% @notifications_cu.each do |ncu|%>
<strong>Notification:</strong>
<%= link_to User.find(ncu.user_id).full_name, notify_delete_path(notify_id: ncu.person_to_notify) %>
<%end%>
