<!-- <h2>Users Online</h2> -->
<%#= button_tag "Create Workspace", :'data-url' => workspaces_path, id: "workspace" %>
<!-- The create workspace link does not create a brand new editor -->

<div class="create" style="margin-bottom: 50px;">
<br><br><br><%= link_to 'CREATE NEW WORKSPACE', workspace_path, id: "workspace", class: "waves-effect waves-yellow yellow lighten-1 btn" %>
</div>

<div class="container">
<div class="row">
<% @documents.each do |files| %>
  <div class="col s12 m6 l4" style="padding: 35px; display:flex; justify-content:center;">
    <div class="workspaceno"><strong> WORKSPACE NO.: <b><%=files.id%></b></strong><br></div>
    <% file = files.id %>
    <%= link_to workspace_path(f_id: file), id: "workspace" do %>
     <% file %>
     <div class="open">
       &nbsp;&nbsp;<i class="fa fa-file-text-o fa-3x"></i>&nbsp;&nbsp;Open&nbsp;&nbsp;
     </div>
  <%end%>
    <%= link_to users_document_path(file), class: "delete-document", data: { url: users_document_path(file) } do %>
    <div class="delete">
      &nbsp;<i class="fa fa-trash-o fa-3x"></i>Delete&nbsp;&nbsp;
    </div>
    <%end%>
  </div>

<%end%>
</div>
</div>


<% @users_sign_in.each do |uo| %>
  <div class="user-online">
      <strong>Full-name: </strong>
      <span><%= uo.full_name %></span>
  </div>
<%end%>

<% @notifications_cu.each do |ncu|%>
<strong>Notification:</strong>
<%= link_to User.find(ncu.user_id).full_name, notify_delete_path(notify_id: ncu.person_to_notify) %>
<%end%>
